
* {
	box-sizing: border-box;
}

img { 
    height: 150px;
    width: 150px;
}
.btn {
    margin: 8px;
    background-color: pink;
    border-color: #fff;
}
.gifDiv{
    float: left;
    margin: 3px;
}
.container {
	background-color: #fff;
	padding: 20px;
}

.card {
    float: right;
}